.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather__content {
  width: 500px;
  height: 90vh;
  background-image: url("/image/bg.jpg");
  background-size: cover;
}
.info-temp{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.info-temp p{
  color: #1216eb;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  padding: 5px;
  border: 2px solid whitesmoke;
  background-color: rgba(187, 187, 189, 0.5);
  border-radius: 20px;
}
.place {
  color: #c724bfaf;
  margin-top: 30px;
  font-weight: 800;
}
.row{
  margin-top: 10px;
}
.desc{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  display: inline;
  background-color:  rgba(57, 124, 196, 0.4);
}
.country {
  /* margin-top: 40px; */
  font-weight: 600;
  color: #fff;
}
section .container{
  width: 500px;
  height: 90px;
  padding-top: 20px;
  background-color: rgba(35, 87, 143, 0.5)
}
.temperature {
  font-size: 80px;
  font-weight: 800;
  color: rgb(234, 243, 106);
  margin-bottom: 5px;
}

.icon {
  font-size: 30px;
  color: rgb(7, 213, 240);
}

.result {
  font-size: 30px;
  font-weight: 500;
}

.col-4 {
  color: #fff;
}

.input-search,
.btn-search {
  margin-top: 150px;
  font-size: 20px;
  font-weight: 500;
}

#search {
  color: aqua;
}

.not-search {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}